<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Image d'exemple"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">SE CONNECTER</p>
          </div>

          <div class="mb-20">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                type="email"
                placeholder="Username"
                formControlName="username"
                required
              />
              <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                Username est requise
              </mat-error>
            </mat-form-field>
          </div>

          <div class="mb-20">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Mot de passe</mat-label>
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                matInput
                type="password"
                placeholder="Entrez le mot de passe"
                formControlName="password"
                required
              />
              <mat-icon-button matSuffix (click)="togglePasswordVisibility()">
              </mat-icon-button>
              <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                Le mot de passe est requis
              </mat-error>
              <mat-error
                *ngIf="loginForm.get('password')?.hasError('minlength')"
              >
                Le mot de passe doit comporter au moins 6 caractères
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Remember me and forgot password -->
          <div class="d-flex justify-content-between align-items-center">
            <mat-checkbox>Se souvenir de moi</mat-checkbox>
            <a class="text-body" href="#">Mot de passe oublié ?</a>
          </div>

          <!-- Login button -->
          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              mat-flat-button
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Connexion
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Vous n'avez pas de compte ?
              <a class="link-danger" href="#">S'inscrire</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
