<div class="container-fluid mt-2">
  <h3>Liste des produits</h3>

  @if((productsStore.isFullyLoad$ | async)) {
  <ng-container *ngIf="productsStore.filteredProducts$ | async as products">
    <div class="row">
      <div class="col-2">
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            placeholder="Rechercher"
            [(ngModel)]="filter.search"
            (keyup)="handleSearch()"
          />
        </mat-form-field>
      </div>
      <div class="col-2">
        <app-category-filter
          (onCategoryChange)="handleFilterChange($event)"
        ></app-category-filter>
      </div>
      <div class="col-6"></div>
      <div class="col-2">
        <button mat-flat-button (click)="addProduct()" class="pull-right">
          Ajouter un produit
        </button>
      </div>
    </div>
    @if (!isLoading) {
    <app-products-list
      [products]="products"
      (deleteProduct)="delete($event)"
      (editProduct)="edit($event)"
      (viewProduct)="view($event)"
    ></app-products-list>
    } @else {
    <app-loader></app-loader>
    }
  </ng-container>
  } @else {
  <app-loader></app-loader>
  }
</div>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
