.sidenav-container {
  display: flex;
  height: 100vh;
}

.mat-sidenav {
  width: 15% !important;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  flex: 1;
}

app-footer {
  flex-shrink: 0;
}

.sidenav {
  border-right: 1px solid;
}
