<div class="example-container">
  <table mat-table [dataSource]="dataSource" matSort class="example-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Progrès</th>
      <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
      <td mat-cell *matCellDef="let row">{{ row.title }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prix</th>
      <td mat-cell *matCellDef="let row">{{ row.price }} €</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Catégorie</th>
      <td mat-cell *matCellDef="let row">
        {{ row.category }}
      </td>
    </ng-container>

    <ng-container matColumnDef="flateRate">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Note</th>
      <td mat-cell *matCellDef="let row">
        <igc-rating
          [value]="row.flateRate"
          min="1"
          max="5"
          disabled
        ></igc-rating>
      </td>
    </ng-container>

    <ng-container matColumnDef="flateCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
      <td mat-cell *matCellDef="let row">
        {{ row.rating.count }}
      </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let row">
        <img [src]="row.image" alt="Image" width="50" />
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <div class="d-flex">
          <button mat-icon-button (click)="view(row)" matTooltip="Voir">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button (click)="edit(row)" matTooltip="Modifier">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="delete(row)"
            color="warn"
            matTooltip="Supprimer"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 50, 100]"
    aria-label="Sélectionner la page des utilisateurs"
  ></mat-paginator>
</div>
